body {
  background-color: #002b36;
  color: #839496;
}

a {
  color: #268bd2;
}

solarized {
  color: #839496;
  color: #002b36;

  color: #93a1a1;
  color: #073642;

  color: #073643;
  color: #003b36;

  color: #dc323f;
  color: #cb5b16;

  color: #859901;
  color: #587e75;

  color: #b58901;
  color: #658b83;

  color: #269bd2;
  color: #839497;

  color: #d33683;
  color: #7c71c4;

  color: #3aa198;
  color: #94a1a1;

  color: #839497;
  color: #fdf7e3;
}
